<%- include('partials/header') %>

<h1>Games</h1>
<p><a href="?show=mine">Mine</a> | <a href="?show=all">All</a>
<% if (sessions.length === 0) { %>
<p>You currently have no games running.</p>
<% } %>

<ul>
 <% sessions.forEach(session => { %>
   <li>
     <a href="/sessions/<%= session.id %>"><%=session.gameId === -1 ? localGame : session.Game.name %></a>
     [
     <%Object.entries(session.SessionUsers).forEach(([u, su]) => {%>
       <%= u > 0 ? '|' : '' %>
       <%if (su.User.name == session.creator.name) {%>
         <b><%=su.User.name%></b>
       <%} else {%>
         <%=su.User.name%>
       <%}%>
     <%})%>
     ]
     <%=new Intl.DateTimeFormat().format(session.createdAt)%>
   </li>
 <% }) %>
</ul>

<p><button onclick="window.location.href='/sessions/new';">Create new game</button></p>

<%- include('partials/footer') %>
