<%- include('partials/header') %>

<div id="container">
</div>
<script>
	window.userId=<%=userId%>;
	window.sessionId=<%=sessionId%>;
</script>
<script src="/sessions/<%=sessionId%>/<%=entry%>"></script>

<%- include('partials/footer') %>
