<%- include('partials/header') %>

<h1>Boardzilla</h1>

<h2>Boardzilla is a framework for making and playing board games.</h2>

<p>Currently, we have implemented <a href="https://foursouls.com/">The Binding of Isaac: Four Souls</a> as our first game on the platform for testing and feature development.</p>

<h2>How to play</h2>

<ol>
  <li><a href="/register">Create your account</a></li>
  <li><a href="/sessions">Create a new game</a></li>
  <li>Share your game URL with other player(s)</li>
</ol>

<p>Join us on <a href="https://discord.gg/hkvp9uPA" target="_new">Discord</a> to give feedback and suggestions!</p>

<hr>

<h2>News</h2>
<% messagesAndVersions.forEach(version => {%>
  <% if (version.Game) { %>
    <h3>New version of <%=version.Game.name %> <i>(<%=version.beta ? "beta" : "release"%>)</i></h3>
    <h4><%=version.formattedCreatedAt() %></h4>
    <p><%- version.notesHTML() -%></p>
  <% } else { %>
    <h3><%=version.title%></h3>
    <h4><%=version.formattedCreatedAt() %></h4>
    <p><%- version.notesHTML() -%></p>
  <% } %>

<% }) %>

<%- include('partials/footer') %>
