<%- include('partials/header') %>

<h1>Boardzilla</h1>

<p>Boardzilla is a framework for making and playing board games.</p>

<h2>Games</h2>
<% games.forEach(game => { %>
  <div>
  <img src="/game/<%=game.id%>/banner" style="float: right; width: 300px">
  <h3><%=game.friendlyName%></h3>
  <form action="/play/<%=game.id%>" method="POST">
    <input type="submit" value="Play now!" >
  </form>
  <p><%-game.descriptionHTML()%></p>
  </div>
  <br clear="all">
  <hr>
<% }) %>

<%- include('partials/footer') %>
