<%- include('partials/header') %>

<h1><%= game %></h1>

<ul>
  <% session.SessionUsers.forEach(sessionUser => { %>
    <li><%= sessionUser.User ? sessionUser.User.name : `guest-${sessionUser.id}` %></li>
  <% }) %>
</ul>

<% if (!started) { %>
  <form action="/user-sessions/<%= session.id %>" method="POST">
    <input type="submit" value="Join"/>
  </form>
<% } %>

<%- include('partials/footer') %>
